@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.inner_body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    padding: 50px 0;
    background: #222;
    font-family: 'Poppins', sans-serif;
}